<div class="container mx-auto columns-3 justify-between items-center p-5">

    <div class="flex title-font font-medium items-center justify-start">
        <span class="text-center text-2xl">Coins Collection</span>
    </div>


    <nav class="flex items-center justify-center" style="color: #737373;">
        <button (click)="router.navigate(['/'])"
            class="mx-10 hover:bg-gray-300 w-full rounded-md text-center">Home</button>
        <button (click)="router.navigate(['/coins-collection'])"
            class="mx-10 hover:bg-gray-300 w-full rounded-md text-center">Coins</button>
    </nav>

    @if (!userLoggedIn) {
        
    <div class="md:flex items-center text-base justify-end text-center" style="color: #23A6F0;">
        <fa-icon class="w-5 h-5 mr-2" [icon]="icons.user"></fa-icon>
        <div class="flex justify-center align-middle">
            <button (click)="router.navigate(['/login'])" class="mx-1">Login</button>
            <span class="mx-1">/</span>
            <button (click)="router.navigate(['/register'])" class="mx-1">Register</button>
        </div>
    </div>

    }@else {

    <div class="md:flex items-center text-base justify-end text-center" style="color: #23A6F0;">
        <fa-icon class="w-5 h-5 mr-2" [icon]="icons.logout"></fa-icon>
        <div class="flex justify-center align-middle">
            <button (click)="logoutHandler()">
                Logout
            </button>
        </div>

    </div>
    }




</div>