@if (loadingCards) {
<div class="w-screen mt-[8vh] h-[82vh] flex justify-center items-center">
    <div>
        <fa-icon class="text-9xl" style="color: #23A6F0;" [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </div>
</div>
}

@else {
<div class="flex">
    <div class="w-[15%] top-[8vh] h-[90vh] fixed">
        <app-filters-bar (filters)="onFilterChange($event)"></app-filters-bar>
    </div>
    <div class="w-[85%] ml-[15%] flex flex-wrap justify-evenly">
        @for (
        coin of coins
        | searchCoin:filterValues.search
        | foundFilter:filterValues.found
        ;track coin) {
        <app-coin-card (coinChange)="onCoinChange($event)" [coin]="coin" class="mx-2 my-5"></app-coin-card>
        }@empty {
        <div class="w-full h-[70vh] flex items-center justify-center text-5xl">
            No results
        </div>
        }
    </div>
</div>
}